rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /quizResults/{resultId} {
      allow create: if request.auth != null
        && request.resource.data.studentId == request.auth.uid;
      allow read: if request.auth != null
        && (request.auth.token.email == 'f2211251024@student.untan.ac.i'
          || request.auth.token.email == 'f2211251024@student.untan.ac.id');
      allow update, delete: if false;
    }
  }
}
